pkgbase = "screentaker"
pkgname = "screentaker"
pkgver = "0.1.0"
pkgrel = 1
pkgdesc = "A lightweight and reliable screenshooter for X11 written in Rust"
url = "https://aur.archlinux.org/packages/screentaker"
arch = ( 'x86_64' )
options = ( '!debug' )
license = ( 'MIT' )
makedepends = ( 'rust' )
source = ( )
md5sums = ( )
